<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.smart.qiushi.icecream">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <receiver android:name=".broadcast.BootBroadcastReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver><!--开机自动启动App-->

        <activity
            android:name=".activity.SplashActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity><!--广告页面-->
        <activity
            android:name=".activity.BuyActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" /><!--物品购买页面-->
        <activity
            android:name=".activity.MainActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" /><!--登录页面-->
        <activity
            android:name=".activity.BuyCommitOrderActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" /><!--订单提交页面-->
        <!--android:screenOrientation="landscape"-->
        <!--android:screenOrientation="portrait"-->
        <activity
            android:name=".activity.PayQrcodeActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" /><!--支付二维码界面-->
        <activity
            android:name=".activity.MerchantLoginActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" /><!--商户登录页面-->
        <activity
            android:name=".activity.MerchantCenterManagementActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" /><!--商户中心管理页面-->
        <activity
            android:name=".activity.SystemManagerActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" /><!--系统管理页面-->
        <activity
            android:name=".activity.FusionSinceTheLiftActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" /><!--融合自提页面-->
    </application>

</manifest>